<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962501241746-4jjgj46t5ql8f1qrcblq5p1p2bah547m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962501241746-4jjgj46t5ql8f1qrcblq5p1p2bah547m</string>
	<key>API_KEY</key>
	<string>AIzaSyBObEORjHgniP7LP8gGKB9f4TK9e9TFtO0</string>
	<key>GCM_SENDER_ID</key>
	<string>962501241746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Accessability.Keyboard</string>
	<key>PROJECT_ID</key>
	<string>accessibility-6cba5</string>
	<key>STORAGE_BUCKET</key>
	<string>accessibility-6cba5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962501241746:ios:48302134d0cd89227bef4b</string>
	<key>DATABASE_URL</key>
	<string>https://accessibility-6cba5.firebaseio.com</string>
</dict>
</plist>